$blue: #59a6da;
$green: #56c899;
$gray: #85838a;

.form-container {
	float: left;
	width: 100%;
	margin-top: 3rem;
}

.form {
	width: 50%;
	margin: 0 auto;
	background: #fff;
	padding: 3rem 2rem;
	@media screen and (max-width: 768px) {
		width: calc(100% - 64px);
		margin: 0 32px;
	}
}

.form__text, .form__text--name {
  float: left;
	width: 100%;
	margin-bottom: 16px;
	outline: none;
	border: 1px solid #f5f5f5;
	border-radius: 2px;
}

.form__checkbox {
  float: left;
  width: 35%;
  text-align: right;
  color: #999;
}

.form__checkbox--party {
  color: #000;
}

.form__text--name {
  width: 65%;
}

.form__button {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 1px solid $blue;
	border-radius: 30px;
	color: $blue;
}

.form__text,
.form__button,
.form__text--name,
.form__checkbox {
	padding: 8px;
}

